---
http_interactions:
- request:
    method: post
    uri: http://api.unloq.co/events
    body:
      encoding: UTF-8
      string: '{"author_type":"User","author_id":1,"verb":"login","recipient_type":"User","recipient_id":1,"meta":null,"api_key":"{api_key}","namespace":"{namespace}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 21 Aug 2014 12:27:32 GMT
recorded_with: VCR 2.9.2
