---
http_interactions:
- request:
    method: get
    uri: http://api.unloq.co/activity/{api_key}/{namespace}/User/3?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        [{"author_type":"User","author_id":"3","verb":"viewed","recipient_type":"Topic","recipient_id":"2","created_at":"2014-09-02 10:18:17.061819"},
         {"author_type":"User","author_id":"3","verb":"viewed","recipient_type":"Topic","recipient_id":"1","created_at":"2014-08-29 12:29:34.775832"},
         {"author_type":"User","author_id":"3","verb":"viewed","recipient_type":"Topic","recipient_id":"1","created_at":"2014-08-28 15:00:40.028296"}]
  recorded_at: Tue, 02 Sep 2014 17:04:28 GMT
recorded_with: VCR 2.9.2
