---
http_interactions:
- request:
    method: post
    uri: http://api.unloq.co/achievements
    body:
      encoding: UTF-8
      string: '{"verb":"achievement","observation_count":10,"author_id":null,"author_type":"User","recipient_id":null,"recipient_type":"Post","points":null,"image_path":null,"api_key":"{api_key}","namespace":"{namespace}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 25 Aug 2014 18:56:19 GMT
recorded_with: VCR 2.9.2
