---
http_interactions:
- request:
    method: post
    uri: http://api.unloq.co/events
    body:
      encoding: UTF-8
      string: '{"author_id":12,"author_type":"User","recipient_id":17,"recipient_type":"OtherThing","verb":"acted_on","meta":{"foo":"bar"},"api_key":"{api_key}","namespace":"{namespace}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 21 Aug 2014 18:59:23 GMT
recorded_with: VCR 2.9.2
